.habbit-card {
  padding-top: 2rem;
  width: 200px;
  height: 450px;
  border-radius: 20px;
  border: 1px solid rgb(223, 223, 223);
  margin: 1rem;
  padding: 1rem;
}

.repeat-goal-container {
  display: flex;
}

.time-startdate-container {
  display: flex;
}

.goal-container,
.start-date-container {
  margin-left: 1rem;
}

.form-input .submit-btn {
  cursor: pointer;
  border: none;
  margin: 0.5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
}

.names{
  font-weight: 600;
}
